<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.zekee.acmerbackend.mapper.AdminMapper">

    <insert id="updateProblems" useGeneratedKeys="true" keyProperty="id">
        replace into tb_problems
            (contestId, `index`, name, type, points, rating, tags)
        VALUES
            <foreach collection="problems" item="problem" separator=",">
                (#{problem.contestId}, #{problem.index}, #{problem.name}, #{problem.type}, #{problem.points}, #{problem.rating}, #{problem.tags})
            </foreach>
    </insert>
    <insert id="updateProblemStatistics" useGeneratedKeys="true" keyProperty="id">
        replace into tb_problem_statistics
            (contest_id, `index`, solved_count)
        VALUES
            <foreach collection="problemStatistics" item="problemStatistic" separator=",">
                (#{problemStatistic.contestId}, #{problemStatistic.index}, #{problemStatistic.solvedCount})
            </foreach>
    </insert>
    <insert id="updateContests">
        replace into tb_contest
        (id, name, startTimeSeconds, durationSeconds, relativeTimeSeconds, phase, type, frozen)
        VALUES
        <foreach collection="contests" item="contest" separator=",">
            (#{contest.id}, #{contest.name}, #{contest.startTimeSeconds}, #{contest.durationSeconds},
            #{contest.relativeTimeSeconds}, #{contest.phase}, #{contest.type}, #{contest.frozen})
        </foreach>
    </insert>


</mapper>